* {
    box-sizing : border-box;
    padding : 0;
    margin : 0;
}

:root {
    --white-color : white;
    --primary-color : #f2726a;
}

html {
    font-family : 'Roboto', sans-serif;
}


body {
    /* background : linear-gradient(45deg, #00853e, #50c878); */
    background : url('/TC-2/assets/img/30-hinh-nen-vu-tru-dai-ngan-ha-thien-ha-dep-4k-cho-pc-laptop-3-scaled.jpg') top center /cover no-repeat;
    height : 100vh;
    width : 100vw;
    display : flex;
    align-items : center;
    justify-content : center;
}

.card {
    height : 400px;
    width : 300px;
    background-color : #242628;
    border-radius : 15px;
    color : var(--white-color);
    text-align : center;
    overflow : hidden;
    box-shadow : 7px 5px 7px 1px rgba(0,0,0,0.3);
}

.card__img {
   width : 120px;
   height : 120px;
   border : 4px solid var(--primary-color);
   border-radius : 50%;
   margin : 0 auto;
   transform : translateY(20px);
   transition : 0.5s;
}

.card__img:hover {
    width : 100%;
    height : 100%;
    border : unset;
    transform : unset;
    transform : translateY(0);
}

.card__img:hover img {
    border-radius : unset;
    border-radius : 15px;
}

.card__img img {
    width : 100%;
    height : 100%;
    object-fit : cover;
    border-radius : 50%;
    object-position : center;
}

.card__title {
  margin-top : 30px;
}

.card__description {
    color : var(--primary-color);
    margin-top : 6px;
}

.card__social {
    margin-top : 35px;
}

.card__social-icon {
    color : var(--white-color);
    text-decoration : none;
    font-size : 24px;
    margin : 0 20px;
    transition : 0.3s;
}

.card__social-icon:hover {
    color : var(--primary-color);
}

.card__btn {
   margin-top : 40px;
   width : 140px;
   height : 50px;
   outline : none;
   border : 2px solid var(--primary-color);
   border-radius : 10px;
   background-color : transparent;
   color : var(--white-color);
   font-weight : 600;
   cursor : pointer;
   transition : 0.3s;
}


.card__btn:hover {
    background-color : var(--primary-color);
    transform : scale(0.9);
}


